<% provide(:title, 'Products') %>
<h1>Products</h1>

<p>
Note that clicking on any of the links below will send you to that product's own microsite.
</p>
<p>
<%= link_to image_tag("sc.png", alt: "Rails"), 'http://searleconsulting.com/' %> <a href="http://railstutorial.org/help">SimpleCRM</a> - A CRM done differently!<br>
<%= link_to image_tag("sc.png", alt: "Rails"), 'http://searleconsulting.com/' %> <a href="http://railstutorial.org/help">BnB</a> - A bed for every occasion!<br>
<%= link_to image_tag("sc.png", alt: "Rails"), 'http://searleconsulting.com/' %> <a href="http://railstutorial.org/help">WrkFlo</a> - A worflow system with a difference!<br>
</p>
